<div class="m-sidebar">

	<figure class="m-sidebar--logo">
		<img src="{{ "img/logo-th-koeln.png" | absURL }}" alt="Logo TH Köln" />
	</figure>

	<ul class="m-sidebar--menu">
		{{ $currentPage := . }}

        <li>
            <a class="sidebar-nav-item" href="/" title="Startseite">Home</a>
        </li>
		<li>
			<a class="sidebar-nav-item" href="/study" title="Medieninformatik Studium">Study</a>
		</li>
		<li>
			<a class="sidebar-nav-item" href="/people" title="Die Medieninformatik Macher">People</a>
        </li>
        <li>
            <a class="sidebar-nav-item" href="/events" title="Unsere Events">Events</a>
        </li>
        <li>
            <a class="sidebar-nav-item" href="/papers" title="Unsere Paper">Paper</a>
        </li>
	</ul>

	<ul class="m-sidebar--menu is-second">
		<li>
			<a class="sidebar-nav-item" href="https://verleih.medieninformatik.th-koeln.de" title="MI Verleih">
				MI Verleih
			</a>
		</li>
		<li>
			<a class="sidebar-nav-item" href="https://www.facebook.com/mikoeln/" title="MI Facebook">
				MI Facebook
			</a>
		</li>
		<li>
			<a class="sidebar-nav-item" href="https://www.youtube.com/mikoeln" title="MI Youtube">
				MI Youtube
			</a>
		</li>
		<li>
			<a class="sidebar-nav-item" href="https://twitter.com/micologne" title="MI Youtube">
				MI Twitter
			</a>
		</li>
		<li>
			<a class="sidebar-nav-item" href="https://www.medieninformatik.th-koeln.de/mi-old/" title="MI Old">
				alte MI Website
			</a>
		</li>
	</ul>
</div>
