<div class="m-sidebar">

  <figure class="m-sidebar--logo">
    <img src="{{ "img/logo-th-koeln.png" | absURL }}" alt="Logo TH Köln" />
  </figure>

  <ul class="m-sidebar--menu">
    {{ $currentPage := . }}

    <li>
      <a class="sidebar-nav-item" href="/" title="Startseite">Home</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="/blog" title="Der Medieninformatik Kosmos">Blog</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="/study" title="Medieninformatik Studium">Study</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="/people" title="Die Medieninformatik Macher">People</a>
    </li>
    <!--li>
            <a class="sidebar-nav-item" href="/papers" title="Unsere Paper">Papers</a>
        </li-->
    <li>
      <a class="sidebar-nav-item" href="/tools" title="Wichtige Software">Tools</a>
    </li>
  </ul>

<!--ul class="m-sidebar--menu is-second"-->
  <div class="m-sidebar--menu is-second">
    <ul class="social-media-bar social-media-bar--stack">
      <li class="social-media-icon social-media-icon--instagram">
        <a href="https://www.instagram.com/mithkoeln/" title="@mithkoeln">
		  		Medieninformatik auf Instagram
		  	</a>
      </li>
      <li class="social-media-icon social-media-icon--twitter">
        <a href="https://twitter.com/micologne" title="@micologne">
		  		Medieninformatik auf Twitter
		  	</a>
      </li>
      <li class="social-media-icon social-media-icon--mastodon">
        <a href="https://social.tchncs.de/@mikoeln" title="MI Mastodon">
		  		Medieninformatik bei Mastodon
		  	</a>
      </li>
      <li class="social-media-icon social-media-icon--youtube">
        <a href="https://www.youtube.com/mikoeln" title="MI Youtube">
		  		Medieninformatik auf Youtube
		  	</a>
      </li>
      <li class="social-media-icon social-media-icon--facebook">
        <a href="https://www.facebook.com/mikoeln/" title="MI Facebook">
		  		Medieninformatik auf Facebook
		  	</a>
      </li>
    </ul>
  </div>

</div>
