<div class="m-mi-modulhead">
	<div class="m-mi-modulhead--mit-bild">
		
		{{ if ne .avatar ""}}
			{{ partial "molecules/mi-avatar/mi-avatar.html" (dict "src" .avatar )}}
		{{ end }}

		<header class="m-mi-modulhead-text">
			<h1 class="m-mi-modulhead--title">
				{{ .ele.Title }}
			</h1>
			<h2 class="m-mi-modulhead--subtitle">
				{{ .verantwortliche }}
			</h2>
		</header>
    </div>
  
    <dl class="mi-dl-overview">

      {{if .ele.Params.kreditpunkte }}
		<dt>Kreditpunkte</dt>
		<dd>{{ .ele.Params.kreditpunkte }}</dd>
      {{ end }}
  
      {{ if .ele.Params.studiensemester }}
		<dt>Studiensemester</dt>
		<dd>{{ .ele.Params.studiensemester }}</dd>
      {{ end }}
  
      {{if .ele.Params.sprache }}
		<dt>Sprache</dt>
		<dd>{{ .ele.Params.sprache }}</dd>
      {{ end }}
  
      {{if .ele.Params.kuerzel }}
		<dt>Kürzel</dt>
		<dd>{{.ele.Params.kuerzel }}</dd>
      {{ end }}
  
      {{if .ele.Params.voraussetzungenNachPruefungsordnung }}
		<dt>Voraussetzungen nach Prüfungsordnung</dt>
		<dd>{{ .ele.Params.voraussetzungenNachPruefungsordnung }}</dd>
      {{ end }} 

      {{if .ele.Params.infourl }}
      <dt>Weitere Informationen zum Modul</dt>
      <dd><a href="{{ .ele.Params.infourl }}">{{ .ele.Params.infourl }}</a></dd>
    {{ end }} 
  
	</dl>
	
    {{if .ele.Params.empfohleneVoraussetzungen }}
		<div class="mi-modulbeschreibung">
			<h2>Empfohlene Voraussetzungen</h2>
			<p>{{ .ele.Params.empfohleneVoraussetzungen }}</p>
		</div>
    {{ end }}
</div>
