.m-mi-pulse-teaser {

    transition: transform $tr-fast;


    &:hover {
        transform: scale(1.02);
    }

    &.has-image{
        background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0));
        border-radius: $radius-xs;
        overflow: hidden;
        position: relative;
    }

    &--image {
        mix-blend-mode: darken;
        z-index: 1;

        img{
            aspect-ratio: 16/9;
            width: 100%;
            object-fit: cover;
        }

        margin-bottom: $s;

    }

    &--external {
        position: absolute;
        top: $s;
        right: $s;
        z-index: 100;
    }   

    &--content {
        color: $darker;

        .title{
            font-size: $m;
            text-wrap: balance;
            margin-bottom: 0.25em;
            font-weight: $fw-bold;
        }

    }

    &.more-events-button{
        aspect-ratio: 16/9;
        font-size: $m;
        border-radius: $radius-s;

        transition: background-color $tr-fast;

        &:hover{
            cursor: pointer;
            background-color: $mi-pink;
            color: $lightest;
        }
    }

}
