{{ $schwerpunkt := .Params.schwerpunktkuerzel }}
{{ $alle_fachsemester := slice 1 2 3 4 }}
{{ $alle_startsemester := slice "ws" "ss" }}
{{ $schwerpunktkuerzel := .Site.Data.schwerpunkte }}

{{ $scratch := newScratch }}
{{ if .File }}
    {{ $scratch.Set "dir" .File.Dir }}
{{ end }}
{{ $moduldir := $scratch.Get "dir" }}

{{ $moduleMaster := .Pages }}
{{ $schwerpunkte := where $moduleMaster "Params.typ" "sp" }}
{{ $pflichtmodule := where $moduleMaster "Params.typ" "pm" }}
{{ $teilmodule := where $moduleMaster "Params.typ" "tm" }}
{{ $wahlpflichtmodule := where $moduleMaster "Params.typ" "wpm" }}
{{ $schwerpunktmodule := where $moduleMaster "Params.typ" "spm" }}
{{ $schwerpunktmodulwraps := where $moduleMaster "Params.typ" "spmw" }}
{{ $schwerpunktprojekte := where $moduleMaster "Params.typ" "spp" }}

{{ $scratch.Set "pflichtmodule" $pflichtmodule }}
{{ range $schwerpunktmodul := $schwerpunktmodule }}
	{{ $scratch.Add "pflichtmodule" $schwerpunktmodul }}
{{ end }}
{{ range $schwerpunktprojekt := $schwerpunktprojekte }}
	{{ $scratch.Add "pflichtmodule" $schwerpunktprojekt }}
{{ end }}
{{ $pflichtmodule := $scratch.Get "pflichtmodule" }}

<div class="is-full-width">
	<h2 id="{{.Title | urlize}}">{{ .Title }} {{ .Parent.Title }}</h2>

  <div class=" has-3-columns">
	{{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" .) }}

  {{ partial "molecules/mi-modullist/mi-modullist-simple.html" (dict "module" $pflichtmodule "schwerpunktkuerzel" $schwerpunktkuerzel "title" "Pflichtmodule" )}}

  {{ partial "molecules/mi-modullist/mi-modullist-simple.html" (dict "module" $wahlpflichtmodule "schwerpunktkuerzel" $schwerpunktkuerzel "title" "Wahlpflichtmodule" )}}
  </div>
</div>
