{{ define "main" }}
	{{ $params := . }}
	{{ $scratch := newScratch }}
	
    {{ $section := . }}
    {{ $teaser := .Resources.Match "teaser*" }}
    {{ $image := index ($teaser) 0 }}
    {{ $hero := $image.Resize "1600x Center q100 Linear" }}
    {{ $scratch.Set "heroClass" "" }}

    {{ if .Params.heroClass }}
        {{ $scratch.Set "heroClass" .Params.heroClass }}
    {{end}}
    
    {{ $heroClass := $scratch.Get "heroClass" }}
    
    {{ if $hero }}
        {{ partial "molecules/mi-hero-image/mi-hero-image.html" (dict "image" $hero "headline" .Title "class" $heroClass "subtitle" .Params.termin) }}
    {{ else }}
        <h1>{{ .Title }}</h1>
    {{ end }}
    
    {{ partial "molecules/mi-herotext/mi-herotext.html" (dict "Content" .Params.Introtext ) }}
    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params "class" "project") }}
    {{ partial "molecules/mi-kontext-footer/mi-kontext-footer.html" (dict "ele" .) }}


{{ end }}
