.mi-speaker-overview{
    margin-top: $fluid-m;
    margin-bottom: $fluid-m;
}

.mi-teaser-speaker{
    display: grid;
    gap: $fluid-s;
    justify-items: center;
    padding-top: $fluid-s;
    border-top: solid $mi-border-small $mi-hellgrau;
    

    @media screen and (min-width: 1100px) {
        grid-template-columns: $image-smaller * 2 1fr;
        justify-items: center;
    }
}

.speaker{
    &-about-list{
        margin: 0;
        padding: 0;
        & > li{
            display: block;
        }

        ul{
            padding-top: $m;
            font-weight: light;
        }
    }

    &-name{
        color: $mi-gruen;
    }

    img{
        width: $image-smaller;
        height: $image-smaller;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: $shadow-s;
        border: solid 1px #fff;
        
    }

    &-row{
        display: flex;

        & > *{
            margin-left: -30px;
        }
    }

    & + &{
        margin-top: $fluid-m;
    }
}