
{{ define "main" }}
{{ $params := . }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
    {{ $section := . }}
    {{ $teaser := .Resources.Match "teaser*" }}
    {{ $image := index ($teaser) 0 }}
    {{ $hero := $image.Fill "1600x600 Center q100 Linear" }}
    {{ partial "molecules/mi-hero-image/mi-hero-image.html" (dict "image" $hero "headline" .Title) }}
    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params) }}
  </div>
</div>

{{ range $additionalcontent := .Params.additionalcontent }}
{{ $scratch := newScratch }}
{{ $scratch.Set "additionalcontentPath" "/"}}
{{ $scratch.Add "additionalcontentPath" $.Dir }}
{{ $scratch.Add "additionalcontentPath" $additionalcontent }}
{{ $additionalcontentPath := $scratch.Get "additionalcontentPath" }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
    {{ with $.Site.GetPage $additionalcontentPath }}
    {{ .Render .Params.view }}
    {{end}}
  </div>
</div>
{{ end }}

<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }}'>   
  {{ $scratch := newScratch }}
    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <h2 class="h4">Weiterführende Informationen</h2>
        {{ $scratch.Set "path" "/" }}
        {{ $scratch.Add "path" .Dir }}
        {{ $scratch.Add "path" "weiterfuehrende-links" }}
        {{ $path:= $scratch.Get "path" }}
        {{ with .GetPage $path }}
        {{ $params := . }}
        {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params "class" "is-small") }}
        {{ end }}
      </div>
      <div class="cell medium-6">
        
        <div class="grid-x grid-margin-x">
          {{ $scratch.Set "path" "/" }}
          {{ $scratch.Add "path" .Dir }}
          {{ $scratch.Add "path" "studiengangsleiter" }}
          {{ $path:= $scratch.Get "path" }}
          {{ with .GetPage $path }}
          <div class="cell shrink">
            {{ $teaser := .Resources.Match "teaser*" }}
            {{ $image := index ($teaser) 0 }}
            {{ $avatar := $image.Fill "300x300 q90 Linear" }}
            {{ partial "molecules/mi-avatar/mi-avatar.html" (dict "src" $avatar.RelPermalink) }}
          </div>
          <div class="cell auto">
            <h2 class="h4">Fragen?</h2>
            <p class="is-small">
            Bei Fragen zum Studiengang wenden Sie sich bitte an den <a href="{{.Params.personenseite}}">Studiengangsleiter {{.Params.name}}</a>.
            </p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
   
  </div>
</div>

{{ end }}