{{ define "main" }}
{{ $params := . }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class="cell medium-12 large-10 xlarge-8 has-seperator">
  <h1>{{.Title}}</h1>

    <dl class="mi-dl-overview">

      {{if .Params.modulverantwortlich }}
      <dt>Modulverantwortlich</dt>
      <dd>{{ partial "functions/verantwortlich.html" (dict "verantwortlich" .Params.modulverantwortlich "people" .Site.Data.people) }}</dd>
      {{ end }}

      {{if .Params.modulniveau }}
      <dt>Studiengang</dt>
      <dd>{{ partial "functions/studiengaenge.html" (dict "studiengang" .Params.modulniveau "studiengaenge" .Site.Data.studiengaenge) }}</dd>
      {{ end }}

      {{if .Params.kreditpunkte }}
      <dt>Kreditpunkte</dt>
      <dd>{{.Params.kreditpunkte}}</dd>
      {{ end }}

      {{if .Params.studiensemester }}
      <dt>Studiensemester</dt>
      <dd>{{.Params.studiensemester}}</dd>
      {{ end }}

      {{if .Params.sprache }}
      <dt>Sprache</dt>
      <dd>{{.Params.sprache}}</dd>
      {{ end }}

      {{if .Params.kuerzel }}
      <dt>Kürzel</dt>
      <dd>{{.Params.kuerzel}}</dd>
      {{ end }}

      {{if .Params.voraussetzungenNachPruefungsordnung }}
      <dt>Voraussetzungen nach Prüfungsordnung</dt>
      <dd>{{.Params.voraussetzungenNachPruefungsordnung}}</dd>
      {{ end }} 
      
      
    </dl>

    <h2>Empfohlene Voraussetzungen</h2>
    <p>{{.Params.empfohleneVoraussetzungen}}</p>

    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params) }}
  </div>
</div>

{{ end }}