{{ define "main" }}
{{ $params := . }}
List Works
<div class="grid-x grid-margin-x">
    <div class="cell large-8">
		<h1>{{.Title}}</h1>
    </div>
</div>
{{ range .Pages }}
<div class="grid-x grid-margin-x">
    <div class="cell large-8">
    	Child:
        <a href="{{.URL}}">{{.Title}}</a>
        <div style="color:grey; font-size:16px;">
        	{{ if .Params.works }}<strong>Jahr:</strong> {{range .Params.works}}<a href="{{ "/works/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{end}}{{end}}
        	{{ if .Params.autoren }}<strong>Autor:</strong> {{range .Params.autoren}}<a href="{{ "/autoren/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{end}}{{end}}
        	{{ if .Params.keywords }}<strong>Stichworte:</strong> {{range .Params.keywords}}<a href="{{ "/keywords/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{end}}{{end}}
        	{{ if .Params.betreuer }}<strong>Betreuer:</strong> {{range .Params.betreuer}}<a href="{{ "/betreuer/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{end}}{{end}}
        	{{ if .Params.module }}<strong>Module:</strong> {{range .Params.module}}<a href="{{ "/module/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{end}}{{end}}
        </div>
    </div>
</div>
{{ end }} {{ end }}