<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ $globalParams := . }}
{{ $scratch := newScratch }}
<head>
  {{ partial "system/head/head.html" $globalParams }}
</head>

<body data-kind="{{.Kind}}" data-baseref="{{.Site.Params.BaseFragment}}/{{.Dir}}" data-permalink="{{.RelPermalink}}">
  <div class="off-canvas-wrapper">
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      {{ partial "system/sidebar/sidebar.html" $globalParams }}
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
          <div class="large-12 cell">
            
            {{ $fragments := split .Dir "/" }}
            {{ $iFragments := sub (len $fragments) 2 }}
            {{ $scratch.Set "iFragments" $iFragments }}
            {{ $fragment := index ($fragments) 0 }}
            {{ $slug := cond (eq (len $fragments) 1) .Page.Data.Term $fragment }}
            {{ $fragments := split .Page.Type "/" }}
            {{ if lt ($iFragments) 1 }}
              {{ $scratch.Set "iFragments" 1 }}
            {{ end }}
            {{ $scratch.Set "fragments" (first ($scratch.Get "iFragments") (split .Dir "/")) }}

            {{ if .IsHome }}
              
            {{ end }}
            {{ $fragments :=  $scratch.Get "fragments" }}
            
            {{ partial "system/navigationHeader/navigationHeader.html" (dict "slug" $slug "BaseURL" .Site.BaseURL "Fragments" $fragments "globalParams" $globalParams) }}
          </div>
        </div>
        {{ block "main" . }} {{ end }}
      </div>
      {{ partial "system/footer/footer.html" $globalParams }}
    </div>
  </div>
</body>
{{ partial "system/scripts/scripts.html" $globalParams }}

</html>