<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ $globalParams := . }}

<head>
    {{ partial "system/head/head.html" $globalParams }}
</head>

<body data-kind="{{.Kind}}" data-baseref="{{.Site.Params.BaseFragment}}/{{.Dir}}" data-permalink="{{.RelPermalink}}">
    <div class="off-canvas-wrapper">
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            {{ partial "system/sidebar/sidebar.html" $globalParams }}
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <main class="grid-container fluid">
                <div class="grid-x grid-margin-x">
                    <div class="large-12 cell">
                        {{.Pages}}
                        {{.Data.Pages}}

                        Kind: {{.Page.Kind}} // Type: {{.Page.Type}} // Dir: {{.Dir}}
                        {{ $fragments := split .Dir "/" }}
                        {{ $fragment := index ($fragments) 0 }}
                        {{ $slug := cond (eq (len $fragments) 1) .Page.Data.Term $fragment }}
                        {{ $fragments := split .Page.Type "/" }}
                        {{ partial "system/navigationHeader/navigationHeader.html" (dict "slug" $slug "BaseURL" .Site.BaseURL "Fragments" $fragments "globalParams" $globalParams) }}
                    </div>
                </div>

                {{ block "main" . }} {{ end }}


            </main>
{{$globalParams }}
            {{ partial "system/footer/footer.html" $globalParams }}
 
        </div>
    </div>


</body>
{{ partial "system/scripts/scripts.html" $globalParams }}

</html>