.m-mi-modulhead {
  &--avatar-box {
    display: block;
    padding-top: $bfs;
    margin-bottom: $bfs;

    &::after{
      content: "";
      height: 0;
      display: block;
      clear: both;
    }
  }
  &--mit-bild {
    position: relative;
    margin-bottom: $bfs-xxl;
    .m-mi-avatar {
      float: left;
      margin-right: $bfs;
    }
    .m-mi-modulhead-text {
      .m-mi-modulhead--title {
        margin-bottom: $bfs-xxs;
      }
      .m-mi-modulhead--subtitle {
        margin: 0;
      }
    }
  }
}
