/* MI Vars -----------------------------------------------------------------------------*/

$scale: 1;

// Base Fontsize
$bfs-xxs: 10px * $scale;
$bfs-xs: 12.5px * $scale;
$bfs-s: 16px * $scale;
$bfs: 20px * $scale;
$bfs-l: 25px * $scale;
$bfs-xl: 31.5px * $scale;
$bfs-xxl: 40px * $scale;
$bfs-max: 100px * $scale;


// MI Colors
// ---------
$mi-blau: #4952e1;
$mi-pink: #dd1166;
$mi-gruen: #00AD2F;
$mi-lila: #9313ce;
$mi-black: #231f20;
$mi-grau: #aaaaaa;
$mi-hellgrau: #efefef;

// MI Fonts
// ---------
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
    font-display: swap;
}
$family-headlines: "Roboto Slab";

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
    font-display: swap;
}
$family-primary: "PT Sans";

// MI Viewports
$mi-vp-s: 639px;
$mi-vp-m: 769px;
$mi-vp-l: 1023px;
$mi-vp-xl: 1399px;


// MI Magic Numbers
// ---------
$from-left: 100px;


// MI Borders
// ---------
$mi-border-small: 3px;

// Zeilenabstände
// ---------
$lh-tight: 110%;
$lh-medium: 130%;
$lh-loose: 150%;
