/* MI Layout
-----------------------------------------------------------------------------*/

body {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
}

.content {
    flex: 1 0 auto;
    margin-right: 1rem;
    max-width: $mi-vp-l;

    &.is-fluid{
        max-width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-size: 40%;
    }
}


.off-canvas-content.is-open {
    transform: translateX(250px);
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: transform .5s ease,-webkit-transform .5s ease;
}

@media screen and (min-width: 768px) {
    
    .has-gap {
        margin-left: $from-left;
    }
}

@media screen and (max-width: 767px) {
    .content { margin-left: 1rem; }
}

@media screen and (min-width: 640px) {

    header,
    nav,
    footer {
        flex-shrink: 0;
    }

    main {
        flex: 1 0 auto;
        /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
    }
}

@media(max-width: 639px) {
    .content {
        margin-left: 1rem;
    }
}

.mi-stack{
    > * {
        margin-bottom: $bfs;
    }
}


.mi-grid{
  display: grid;
  gap: $bfs;
  margin-bottom: $bfs-l;
  &--2-cols{
    grid-template-columns: 1fr 1fr;
  }
}

.has-3-columns{
  @media screen and (min-width: $mi-vp-xl) {
    display: grid;
    gap: $bfs;
    grid-template-columns: 
    minmax($mi-vp-l/3, $mi-vp-xl/3)
    minmax($mi-vp-l/3, $mi-vp-xl/3)
    minmax($mi-vp-l/3, $mi-vp-xl/3)
  };
  

}
