/* MI Vars
-----------------------------------------------------------------------------*/

// Base Fontsize
$bfs-xxs: 10px;
$bfs-xs: 12.5px;
$bfs-s: 16px;
$bfs: 20px;
$bfs-l: 25px;
$bfs-xl: 31.5px;
$bfs-xxl: 40px;
$bfs-max: 100px;


// MI Colors
// ---------
$mi-blau: #4952e1;
$mi-pink: #dd1166;
$mi-gruen: #00AD2F;
$mi-lila: #9313ce;
$mi-black: #231f20;
$mi-grau: #aaaaaa;
$mi-hellgrau: #efefef;

// MI Fonts
// ---------
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}
$family-headlines: "Roboto Slab";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}
$family-primary: "PT Sans";


// MI Magic Numbers
// ---------
$from-left: 100px;


// MI Borders
// ---------
$mi-border-small: 3px;