/* MI Utils -----------------------------------------------------------------------------*/

.has-seperator {
    border-bottom: solid $mi-border-small $mi-gruen;
    margin-bottom: $bfs-xl;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(20px);

    &--dotted{
      border-style: dotted;
    }

    &--lila{
      border-color: $mi-lila;
    }
}

.is-vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.has-extra-head-space {
  margin-top: $bfs-xxl !important;
}

.has-extra-foot-space {
  margin-bottom: $bfs-xxl !important;
}

.arrow-up {
    margin-top: 5px;

    &::before {
        content: "";
        position: absolute;
        top: -13px;
        left: 36px;
        width: 0; 
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid $mi-grau;
    }
}

.is-hidden {
    display: none;
}

.is-full-width{
    width: 90vw !important;
}

.has-mouseover:hover{
  cursor: pointer;
}
