/* MI Typo -----------------------------------------------------------------------------*/

blockquote{
  margin-bottom: $bfs;
}

/* Keine Umrandung bei aktiven Links */
.mi-linkliste {
    margin-left: 0;
    margin-bottom: 0;

    > li {
        display: block;

      &:not(:last-child)::after{
        content: "-";
        display: block;
        height: $bfs / 2;
      }
    }
}

.subheader {
    line-height: 100%;
    color: $mi-pink;
}

.lift-up {
    margin-top: -$bfs;
}

.invers {
    display: inline-block;
    padding: $bfs-xxs $bfs-xs;
    margin-top: $bfs;
    margin-bottom: $bfs;
    color: #fff;
    background: #000;
}

.invers.gruen {
    background: $mi-gruen;
}

.is-small {
    font-size: $bfs-s;
}

.mi-chapter-title {
    font-size: $bfs-xl;

    @media screen and (min-width: $mi-vp-m) {
        font-size: $bfs-xxl;
    }

    &.is-colorful {
        color: $mi-lila;
    }
}
