/* MI Base -----------------------------------------------------------------------------*/

body,
html {
    font-size: $bfs;
    hyphens: auto;
}

/* Headlines & Texts -----------------------------------------------------------------------------*/

h1 {
    font-weight: bold;
    margin-bottom: $bfs-l;
}

h2 {
    margin-bottom: $bfs;
}

h3 {
    margin-bottom: $bfs;
}

h1,
h2,
h3,
h4 {
    line-height: 110% !important;
    hyphens: none;
}

p + h2, ul + h2{
    margin-top: $bfs-xxl;
}

@media screen and (max-width: 640px) {
  p {
    line-height: 130%;
  }
}

/* Lists -----------------------------------------------------------------------------*/

li {
    line-height: 130%;
    margin-bottom: $bfs-xs;
}

li.accordion-item {
    margin-bottom: 0;
}


.is-small li {
    line-height: 110%;
    margin-bottom: $bfs-xxs;
}

/* Other Elements -----------------------------------------------------------------------------*/

blockquote {
    border-left: solid $mi-border-small $mi-pink;
    padding: $bfs-xs $bfs;

    > p {
        margin-bottom: 0;
    }
}
