.m-mi-teaser{ 
    h1 {
	    margin-bottom: $bfs-xl;
    }

    .mi-teaser-image {
      margin-bottom: $bfs-xs;
    }

    &--footer{
      margin-bottom: 0;

      .a-mi-button{
        margin-bottom: 0;
      }
    }
}
