.m-footer{  
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    background: $mi-black;
    color: #fff;
    padding: $bfs/2 ($from-left + map-get($grid-container-padding, small)/2);
    
}