{{ define "main" }}
    {{ $params := . }}
    Years List
    {{ partial "molecules/mi-textblock/mi-textblock.html" $params }}

    {{ range .Pages }}
        Child:
        {{ .Title }}
        <div style="color:grey; font-size:16px;">
            {{ if .Params.years }}
                <strong>Categories:</strong>
                {{ range .Params.years }}
                    <a href="{{ "/years/" | relLangURL }}{{ . | urlize }}">
                        {{ . }}
                    </a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
