.mi-studienverlaufsplan-master{

  .kennung.spp{
    background-color: $mi-gruen;
  }

  .kennung.spmw{
    background-color: $mi-pink;
  }

  .kennung.pm{
    background-color: $mi-blau;
  }

  .m-mi-textblock + .mi-studienverlaufsplan{
    margin-top: $bfs-xxl;
  }

  .tabs{
    border-bottom: solid 1px $mi-pink;

    .tabs-title{
      margin-bottom: 0;

      &.is-active a{
        background-color: $mi-pink;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  td{
    border-top: solid 1px $mi-grau-light;
    vertical-align: top;
  }

  th{
    text-align: left;
    padding-top: $bfs-xl;
  }

  thead{
    background: none;
    background-color: none;
    border-bottom: solid 1px $mi-grau-light;

    th{
      font-family: $family-headlines;
    }
  }
}