<figure class="m-mi-blog-teaser">
  {{ if .imageSrc }}
  <img src="{{ .imageSrc }}" alt="{{ .ele.Title }}">
  {{ end }}

  <figcaption class="m-mi-blog-teaser--content">
    <h2 class="title">
      {{ .ele.Title }}
    </h2>
    <p class="autor">
      von {{ .ele.Params.autor }}
    </p>
    <p class="date">
      {{ dateFormat "Monday, 2 January 2006" .ele.Params.date  }}
    </p>
  </figcaption>

  {{ with .ele.Params.termin }}
  <p class="m-mi-blog-teaser--footer">
    {{ . }}
  </p>
  {{ end }}
</figure>
