<div class="m-navHead">
	<button data-toggle="offCanvas" id="icon-main-menu" class="m-navHead--hamburger hamburger-cancel">
		<span class="icon"></span>
  	</button>
  	<div class="m-navHead--text">
    	<a href="{{ .BaseURL }}">mi</a>
    	{{ if .Fragments }}
    		{{ range .Fragments }}
				<span class="m-navHead--logoSlash">/</span>
    			<span class="m-navHead--logoSlug">
					  <a href="{{ path.Dir . | absURL }}">&nbsp;{{ path.Dir . }}</a>
    			</span>
    		{{end}}
    	{{else}}
			<span class="m-navHead--logoSlash">/</span>
			<span class="m-navHead--logoSlug">
				&nbsp;<a href="{{ .BaseURL }}">home</a>
			</span>
    	{{ end }}
  	</div>
</div>