{{ define "main" }}
    {{ $params := . }}
    
    {{ if .File }}
	<div class="grid-x grid-margin-x">
		<div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
			{{ $level := split .File.Dir "/" }}
			{{ if gt (len $level) 2}}
			    <h1>{{ .Title }}</h1>
			{{ end }}

			{{ partial "molecules/mi-herotext/mi-herotext.html" $params }}
		</div>
    </div>
    {{ end }}

    <div class="grid-x grid-margin-x grid-padding-y">
        <div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
            <div class="grid-x grid-margin-x">
                {{ $scratch := newScratch }}
                
                {{ range $human := .Site.Data.people }}
                    {{ if and (eq $human.status "prof") ($human.mi) }}
                        <div class="cell small-12 large-6 xxxlarge-4">
                            <div class="mi-stack">
                                <div class="grid-x grid-margin-x" data-toggle="{{ anchorize $human.name }}">
                                    <div class="cell shrink">
                                        {{ if ne $human.avatar ""}}
                                            {{ partial "molecules/mi-avatar/mi-avatar.html" (dict "src" $human.avatar )}}
                                        {{ end }}
                                    </div>
                                    <div class="cell auto">
                                        <header class="is-vertically-centered">
                                            <h3>
                                                <a>{{ $human.name }}</a>
                                            </h3>
                                            <!--h4 class="lift-up">{{ $human.funname }}</h4-->
                                        </header>
                                    </div>
                                </div>

                                <div id="{{ anchorize $human.name }}" class="callout is-hidden arrow-up" data-closable data-toggler="is-hidden">
                                    <button class="close-button" data-close>&times;</button>
                                    <h4>Module</h4>
                                    
                                    <ul class="is-small">
                                        {{ range $modul := $.Site.Pages }}
                                        {{ if eq $modul.Params.layout "modulbeschreibung" }}
                                            {{ $verantwortliche := split $modul.Params.modulverantwortlich ", " }}
                                                {{ if in $verantwortliche $human.id }}
                                                    <li>
                                                        <a href="{{ $modul.RelPermalink }}">
                                                            {{ $modul.Title }}
                                                        </a>
                                                    </li>    
                                                {{ end }}
                                            {{ end }}
                                        {{ end }}
                                    </ul>

                                    {{ with $human.personenseite }}
                                        <p class="is-small">
                                            <a href="{{ . }}" target="_blank">
                                                <i class="material-icons">open_in_new</i>zur Personendetailseite
                                            </a>
                                        </p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>

    {{ range $page := .Pages }}
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class='{{ partial "system/grid/mi-base-cell.html" }}'>
                {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $page) }}
            </div>
        </div>
    {{ end }}
{{ end }}
