.m-mi-modulhead{
  
  .m-mi-modulhead--mit-bild{

    display: flex;
    margin-bottom: $bfs-l;

    .m-mi-avatar{
      margin-right: $bfs;
    }

    .m-mi-modulhead-text{
      
      .m-mi-modulhead--title{
        margin-bottom: $bfs-xxs/2;
      }

      .m-mi-modulhead--subtitle{
        font-size: $bfs-xl;
        margin: 0;
      }
    }
  }
}