.m-mi-herotext {
    font-size: $bfs;
    line-height: 110%;
    padding-bottom: $bfs-xl;
    
    @media screen and (min-width: $mi-vp-m) {
        font-size: $bfs-xl;
    }

    @media screen and (min-width: $mi-vp-xl) {
        p {
            max-width: $mi-vp-xl;
        }
    }

    &.has-box{
        border-top: solid $mi-border-small $mi-pink;
        border-bottom: solid $mi-border-small $mi-pink;
        padding-top: $bfs-xl;
        margin-bottom: $bfs-xl;
    }
}
