.m-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  padding: map-get($grid-container-padding, small);

  &--menu {
    margin: 0;
    padding: 0;

    >li {
      font-family: $family-headlines;
      font-size: rem-calc(25);
      display: block;
      text-align: right;
    }
  }

  &--logo {
    margin-bottom: $bfs * 6;
  }

  .is-second{

    position: absolute;
    bottom: $bfs;
    right: map-get($grid-container-padding, small);
    >li {
      font-family: $family-primary;
      font-size: $bfs-s;
      display: block;
    }
  }
}