<article class="mi-sc-intro mi-block" id="kontaktboerse-2019">
  <figure class="mi-fs-img">
    <img class="mi-fs-img" src="img/kontaktboerse/hero-kontaktboerse.jpg">
  </figure>

  <h1 class="lift-up">Medieninformatik Kontaktbörse 2019</h1>
  <h2 class="subheader">31. Januar 2019, 10:30 Uhr // Campus Gummersbach, Raum 3.216</h2>
  <p>
    Was könnte ich den als Praxisprojekt machen? Und als Bachelorarbeit oder Masterthesis? Vielleicht mal mit einem
    externen Partner? Hm Ö um Antworten auf diese oder ähnliche Fragen zu bekommen, findet auch in diesem Jahr wieder
    die Medieninformatik Kontaktbörse statt.
  </p>
  <p>
    Die Veranstaltung richtet sich an Bachelor- und Masterstudierende auf der Suche nach einem Thema für ihr
    Abschlusssemester. Ziel dabei ist, dass sie sich möglichst früh in Richtung Praxisprojekt und Abschlussarbeit
    organisieren, sprich: mögliche Themenfelder abstecken, Kooperationspartner suchen, Betreuer suchen, etc.
  </p>
  <p>
    Zu dieser Veranstaltung haben wir Unternehmen und Organisationen eingeladen, die ihre Themen- und Problemfelder
    vorstellen, um so eine Brücke zwischen Studierenden und möglichen Kooperationspartnern zu schlagen und Diskus
    anzuregen.
  </p>

  <h3 class="h4 invers gruen">Teilnehmer:</h3>
  <ul>
    <li>Cologne Broadcasting Center GmbH</li>
    <li>ALDI International Services GmbH & Co. oHG</li>
    <li>Herr Westermann</li>
    <li>Universitätsklinikum Köln</li>
    <li>außerdem Vorstellung diverser Forschungsprojekte</li>
  </ul>

</article>

<article class="mi-sc-intro mi-block" id="infoveranstaltung-vertiefungsmodule">
  <figure class="mi-fs-img">
    <img class="mi-fs-img" src="img/infoveranstaltung-vertiefungsmodule/hero-infoveranstaltung-vertiefungsmodule.jpg">
  </figure>

  <h1 class="lift-up">Infoveranstaltung zu den Vertiefungsmodulen in der MI</h1>
  <h2 class="subheader">31. Januar 2019, 09:00 Uhr // Campus Gummersbach, Raum 3.102</h2>
  <p>
    Heute stellen wir das Konzept der Vertiefungsmodule und die Module als solches vor. Die Vertiefungsmodule können
    nur vor Studierenden der BPO4 gewählt werden. Im Rahmen der Veranstaltung werden die einzelnen Vertiefungsmodule
    vorgestellt und erklärt was in den Modulen inhaltlich und organisatorisch passiert.
  </p>

  <h3 class="h4 invers gruen">Wahlmöglichkeiten:</h3>
  <ul>
    <li>Cologne Broadcasting Center GmbH</li>
    <li>Social Computing</li>
    <li>Visual Computing</li>
    <li>Web Development</li>
  </ul>

</article>

<article class="mi-sc-intro mi-block">
  <figure class="mi-fs-img">
    <img class="mi-fs-img" src="img/showcase/showcase-long.jpg">

  </figure>

  <h1 class="lift-up">Medieninformatik Showcase 2019</h1>
  <h2 class="subheader">11. Dezember 2018, 13:00 Uhr</h2>

  <p>
    Auch in diesem Jahr veranstaltet das Lehr- und Forschungsgebiet Medieninformatik wieder einen Showcase. Hier gibt
    es ein vielfältiges Programm von Medieninformatikern für Medieninformatiker und alle, die sich für die
    Medieninformatik am Campus Gummersbach interessieren.
  </p>

  <p>
    Für alle, die noch auf der Suche nach möglichen Themen für ein Projekt oder eine Abschlussarbeit sind, sei der
    Showcase
    als Inspirationsquelle empfohlen. Hier bekommt man auf unterhaltsame Weise einen Überblick, was Andere schon
    gemacht
    haben und woran man selbst anknüpfen könnte.
  </p>
  </div>

  <div class="mi-sc-programm mi-block">
    <h2>Programm</h2>

    <h3><strong>13:00 Uhr</strong> MI Talks // Raum 3.216</h3>
    <p>Rebecca Uebachs und Franz Jaspers berichten aus dem Berufsalltag eines Medieninformatikers.</p>

    <h3><strong>14:00-16:00 Uhr</strong> Ausstellung // Foyer des Hauptgebäudes</h3>
    <p>Im Foyer des Hauptgebäudes werden ausgewählte Arbeiten und Projekte der letzten beiden Semestern aus den
      Medieninformatik Studiengängen vorgestellt.</p>

    <h3><strong>15:30-16:00 Uhr</strong> Vorführung Film-Projekte // Raum 3.216</h3>
    <p>Im Studio werden einige ausgewählte Filmprojekte von Prof. Hans Kornacher vorgestellt.</p>

    <h3><strong>16:00 Uhr</strong> Siegerehrung // Foyer des Hauptgebäudes</h3>
    <p>Auf dem Showcase können die Besucher traditionell ihr Best-of-Best Projekt wählen. Diesmal werden auch die
      Projekte unserer Erstsemester prämiert.</p>

  </div>

  <div class="mi-sc-sprecher mi-block">
    <h2>Sprecher</h2>
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <figure>
          <img class="mi-fs-img" src="img/showcase/franz.jpg">
          <figcaption>
            <header>
              <h3>Franz-L. Jaspers</h3>
              <h4 class="subtitle">M.Sc. Medieninformatik<br>iOS-Entwickler @adesso mobile solutions GmbH</h4>
            </header>
            <p>
              Franz hat bei uns den Medieninformatik Bachelor und Master gemacht und arbeitet als iOS-Entwickler bei
              der
              adesso
              mobile solutions GmbH in Dortmund.
            </p>
            <p>
              Die berufliche Perspektive erscheint im Studium manchmal als große Unbekannte. Durch seinen kürzlichen
              Berufseinstieg hat er noch eine frische Sicht auf den Übergang von der Hochschule zur Arbeitswelt und
              wird
              erzählen, wieviel Medieninformatik in seinen Arbeitsalltag einfließt und was er als iOS-Entwickler so
              alles
              macht.
            </p>
          </figcaption>
        </figure>

      </div>
      <div class="cell large-6">
        <figure>
          <img class="mi-fs-img" src="img/showcase/rebecca.jpg">
          <figcaption>
            <header>
              <h3>Rebecca Uebachs</h3>
              <h4 class="subtitle">M.Sc. Medieninformatik<br>UX/UI @innovas GmbH</h4>
            </header>
            <p>
              Rebecca hat bei uns den Medieninformatik Bachelor und Master gemacht und ist derzeit im
              Anforderungsmanagement mit Schwerpunkt auf UX/UI bei der innovas GmbH in Köln tätig.
            </p>
            <p>
              Auf dem Showcase gibt sie einen Einblick, wir der Übergang vom Studium ins Berufsleben gelaufen ist und
              wie
              das Studium sie auf den Job vorbereitet hat. Sie erläutert, wieso sie sich für die Wirtschaft entschieden
              hat, wie der Bewerbungsprozess und der Berufseinstieg war und welche Werte ihr im Beruf wichtig sind.
            </p>
            <p>
              Klingt doch interessant, oder?
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="mi-sc-footer mi-block">
    <h2>Nächste Events</h2>

    <div class="teaser">
      <h3>Medieninformatik Kontaktbörse, 01.2019</h3>
      <p>Ende Januar findet wieder die Medieninformatik Kontaktbörse statt. Die Veranstaltung richtet sich an Bachelor-
        und Masterstudierende auf der Suche nach einem Thema für ihr Abschlusssemester. Ziel dabei ist, dass sie sich
        möglichst früh in Richtung Praxisprojekt und Abschlussarbeit organisieren, sprich: mögliche Themenfelder
        abstecken, Kooperationspartner suchen, Betreuer suchen, etc.
      </p>
      <p>
        Zu dieser Veranstaltung haben wir Unternehmen und Organisationen eingeladen, die ihre Themen- und Problemfelder
        vorstellen, um so eine Brücke zwischen Studierenden und möglichen Kooperationspartnern zu schlagen und Diskus
        anzuregen.
      </p>
      <p>
        Weitere Infos folgen.
      </p>
    </div>
</article>