.m-mi-avatar {
    display: block;
    background-color: $mi-grau;
    border-radius: 50%;
    height: $bfs-max;
    width: $bfs-max;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-image: url("/img/avatar.png");

    &--inline{
      display: inline-block;
      margin-right: $bfs-xs;
    }

    img{
      aspect-ratio: 1/1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
}
