{{ define "main" }}
	{{ $globalParams := . }}
	
    <!-- Papers List Template -->
	{{ if .File }}
		{{ .File.Dir }}
	{{ end }}

	{{ .Content }}

	{{ range (.Data.Pages.ByParam "works").Reverse }}

		{{ .Scratch.Set "headline" .Title }}

		{{ if isset .Params "papers" }}
			{{ $year := index (.Params.papers) 0 }}
			{{ .Scratch.Set "info" $year }}
		{{ end }}

		{{ if isset .Params "autoren" }}
			{{ $autoren := index (.Params.autoren) 0 }}
			{{ .Scratch.Set "footer" $autoren }}
		{{ end }}

		{{ $indexScratch := .Scratch }}
		{{ partial "molecules/mi-teaser/mi-teaser.html" (dict "title" .Title "this" $indexScratch "globalParams" $globalParams) }}
	{{ end }}
{{ end }}
