{{ define "main" }}
{{ $globalParams := . }}
<!-- Papers List Template -->
<div class="grid-x grid-margin-x">
    <div class="cell large-8">
		{{.Dir}}
        {{.Content}}
    </div>
</div>

<section class="grid-x grid-margin-x grid-margin-y">
{{ range (.Data.Pages.ByParam "works").Reverse }}

    <div class="cell medium-12 large-6">

    	{{ .Scratch.Set "headline" .Title }}

    	{{ if isset .Params "papers" }}
    	{{ $year := index (.Params.papers) 0 }}
    	{{ .Scratch.Set "info" $year }}
    	{{ end }}

    	{{ if isset .Params "autoren" }}
    	{{ $autoren := index (.Params.autoren) 0 }}
    	{{ .Scratch.Set "footer" $autoren }}
    	{{ end }}

		{{ $indexScratch := .Scratch }}
        {{ partial "molecules/mi-teaser/mi-teaser.html" (dict "title" .Title "this" $indexScratch "globalParams" $globalParams) }}
    </div>

{{ end }}
</section>
{{ end }}