{{ define "main" }}
    {{ $params := . }}
    
    <h1>{{ .Title }}</h1>
    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params)  }}

    {{ range .Paginator.Pages }}
        <article class="m-mi-content-wrap">
            <h3>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>

            <p>
                {{ .Summary }}
            </p>
            <a href="{{ .Permalink }}">mehr lesen</a>
        </article>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
{{ end }}
