.m-mi-modullist-with-lecturer{

  margin-left: 0;
  margin-bottom: $bfs-xl;



  &__entry{
    display: block;
    line-height: $lh-tight;
    margin-bottom: $bfs;

    display: grid;
    grid-template-columns: 120px 1fr;

    &-head{
      display: flex;
      flex-direction: column;

      justify-content: center;
    }

    &-title{
      display: block;
      margin-bottom: $bfs/5;
      color: $mi-pink;
    }

    &:hover{
      cursor: pointer;
    }
  }

}
