.mi-footer {
    font-size: 80%;

    background: $mi-black;
    color: #fff;
    padding-top: $bfs-xl;
    padding-bottom: $bfs-xl;
    margin-top: $bfs-xxl;

    .mi-linkliste {
        > li + li {
            margin-top: $bfs-xs;
            padding-top: $bfs-xs;
            border-top: solid 1px #666;
        }
    }
}
