{{$BaseURL := .BaseURL}}
{{$globalParams := .globalParams}}
{{ $globalParams.Scratch.Set "path" "" }}

<div class="search">
  <form class="search--form">
    <a href="#" class="search--clear hide">&times;</a>
    <input type="text" name="search" />
  </form>
  <div class="search--autocomplete"></div>
</div>

<div class="m-navHead">
    <button data-toggle="offCanvas" id="icon-main-menu" class="m-navHead--hamburger hamburger-cancel">
        <span class="icon"></span>
    </button>
    <div class="m-navHead--text">
        <a href="{{.BaseURL}}">mi</a><!--
		-->{{range .Fragments}}{{ $frag := (print . "/")}}{{ $globalParams.Scratch.Add "path" $frag}}<span class="m-navHead--logoSlash">/</span><span class="m-navHead--logoSlug"><a href="{{$BaseURL}}{{ $globalParams.Scratch.Get "path" }}">{{.}}</a></span>{{end}}
    </div>
</div>
