<footer class="mi-footer">
  <div class="grid-container fluid has-gap">
    <div class="grid-x grid-margin-x">
      <div class="cell large-8">
        <ul class="mi-linkliste">
          <li>&copy;{{ now.Format "2006"}} {{ with .Site.Params.copyright }}{{ . | safeHTML }}{{ end }}</li>
          <li>{{ with .Site.Params.ansprechpartner }}{{ . | safeHTML }}{{ end }}</li>
          <li>{{ with .Site.Params.impressum }}{{ . | safeHTML }}{{ end }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>