{{ define "main" }}
	{{ $params := . }}

	<div class="grid-x grid-margin-x">
		<div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
			{{ $level := split .Dir "/" }}

			{{ if gt (len $level) 2 }}
				<h1>{{ .Title }}</h1>
			{{ end }}

			{{ partial "molecules/mi-herotext/mi-herotext.html" $params }}
		</div>
	</div>

	<div class="grid-x grid-margin-x ">
		<div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
			<div class="grid-x grid-margin-x">
			
				{{ range .Sections }}
					<div class="cell large-6">
						<article class="m-mi-content-wrap">
							{{ $section := . }}
							{{ $teaser := .Resources.Match "teaser*jpg" }}

							{{ if $teaser }}
								{{ $image := index ($teaser) 0 }}            
								{{ $thumb := $image.Fill "800x400 Center q90 Linear" }}
								{{ partial "molecules/mi-teaser/mi-teaser.html" (dict "headline" $section.Title "image" $thumb "info" $section.Summary "url" $section.URL "linktext" "mehr lesen") }}
							{{ end }}
						</article>
					</div>
				{{ end }}
			</div>
		</div>
	</div>

	{{ range $page := .Pages }}
		<div class="grid-x grid-margin-x">
			<div class="cell large-8">
				<article class="m-mi-content-wrap">
					<h3>{{ $page.Title }}</h3>
					{{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $page) }}
				</article>
			</div>
		</div>
	{{ end }}
{{ end }}