
{{ define "main" }}
{{ $params := . }}
{{ $scratch := newScratch }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
    {{ $section := . }}
    {{ $teaser := .Resources.Match "teaser*" }}
    {{ $image := index ($teaser) 0 }}
    {{ $hero := $image.Resize "1600x Center q100 Linear" }}
    {{ $scratch.Set "heroClass" "" }}
    {{ if .Params.heroClass }}
    {{ $scratch.Set "heroClass" .Params.heroClass }}
    {{end}}
    {{ $heroClass := $scratch.Get "heroClass" }}
    {{ partial "molecules/mi-hero-image/mi-hero-image.html" (dict "image" $hero "headline" .Title "class" $heroClass) }}
    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params) }}
  </div>
</div>

{{ range $additionalcontent := .Params.additionalcontent }}
{{ $scratch.Set "additionalcontentPath" "/"}}
{{ $scratch.Add "additionalcontentPath" $.Dir }}
{{ $scratch.Add "additionalcontentPath" $additionalcontent }}
{{ $additionalcontentPath := $scratch.Get "additionalcontentPath" }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }} has-seperator'>
    {{ with $.Site.GetPage $additionalcontentPath }}
    {{ .Render .Params.view }}
    {{end}}
  </div>
</div>
{{ end }}

<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }}'>   

    {{ $scratch := newScratch }}
    <div class="grid-x grid-margin-x">
      {{ $scratch.Set "path" "" }}
      {{ $scratch.Add "path" .Dir }}
      {{ $scratch.Add "path" "weiterfuehrende-links" }}
      {{ $path:= $scratch.Get "path" }}
      {{ with $.Site.GetPage $path }}
      <div class="cell medium-12 large-6">
        <h2 class="h4">Weiterführende Informationen</h2>
        {{ $params := . }}
        {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params "class" "is-small") }}
        <br>
      </div>
      {{ end }}

      {{ $scratch.Set "path" "/" }}
      {{ $scratch.Add "path" .Dir }}
      {{ $scratch.Add "path" "verantwortlich" }}
      {{ $path:= $scratch.Get "path" }}
      {{ with $.Site.GetPage $path }}
      <div class="cell medium-12 large-6">
        
        <div class="grid-x grid-margin-x">
          {{ $people := .Site.Data.people }}
          {{ $verantwortlicheRaw := split .Params.kennung ", " }}
          {{ $scratch := newScratch }}
          {{ $scratch.Set "avatar" false }}
          {{ range $verantwortlich := $verantwortlicheRaw }}
            {{ range $item := $people}}
              {{ if eq $item.id $verantwortlich }}
                {{ $scratch.SetInMap "verantwortlich" $item.id $item.id}}
                {{ if $item.avatar}}
                  {{ $scratch.Set "avatar" true }}
                  {{ $scratch.SetInMap "avatare" $item.id $item.avatar}}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ if $scratch.Get "avatar" }}
          {{ if gt (len ($scratch.Get "avatare")) 0 }}
          {{ range $avatar:= ($scratch.GetSortedMapValues "avatare")}}
          <div class="cell shrink">
            {{ partial "molecules/mi-avatar/mi-avatar.html" (dict "src" $avatar )}}
            <br>
          </div>
          {{ end }}
          {{ end }}
          {{ end }}
          <div class="cell medium-auto">
            <h2 class="h4">Fragen?</h2>
            <div class="m-mi-textblock is-small">
              {{.RawContent}}
              {{ $scratch.Set "verantwortlicheCount" 0 }}
              {{ range $verantwortlich := ($scratch.GetSortedMapValues "verantwortlich")}}
               {{ $scratch.Set "verantwortlicheCount" (add ($scratch.Get "verantwortlicheCount") 1) }}
                {{ $verantwortlich := index $people $verantwortlich }}
                <a href="{{ $verantwortlich.personenseite }}">{{ $verantwortlich.name }}</a>
                {{ if lt ($scratch.Get "verantwortlicheCount") (len ($scratch.Get "verantwortlich")) }}
                oder
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
   
  </div>
</div>

{{ end }}