/* MI Vars
-----------------------------------------------------------------------------*/

// Base Fontsize
$bfs: 16px;

// MI Colors
// ---------
$mi-blau:  #4952e1;
$mi-pink:  #dd1166;
$mi-gruen: #00AD2F;
$mi-lila:  #9313ce;
$mi-black: #231f20;
$mi-grau:  #aaaaaa;

// MI Fonts
// ---------
$family-primary: "PT Sans";
$family-headlines: "Roboto Slab";


// MI Magic Numbers
// ---------
$from-left: 100px;


// MI Borders
// ---------
$mi-border-small: 3px;


