<div class="o-mi-card-overview">

  <div class="card" data-equalizer-watch="">

    <img src="/study/bachelor/vertiefungsmodule/social-computing/teaser.svg">
    <div class="card-section">
      <h3 class="h4">
        Social Computing
      </h3>
      <p class="is-small">
        Hier werden die Wechselwirkungen zwischen Gesellschaft und Informatik in den Mittelpunkt gestellt. Die verantwortungsbewusste Konzeption und Realisierung von soziotechnischen Systemen, z.B. Social Software, Online Communities, e-Government und e-Learning
        Angebote, sowie die empirische Evaluation existierender Systeme sind zentrale Ziele.
      </p>
      <a class="a-mi-button small" href="/study/bachelor/moduls/ba_vertiefung_socialcomputing/">
    mehr lesen
</a>

    </div>
  </div>

  <div class="card" data-equalizer-watch="">

    <img src="/study/bachelor/vertiefungsmodule/visual-computing/teaser.svg">


    <div class="card-section">
      <h3 class="h4">
        Visual Computing
      </h3>
      <p class="is-small">
        Hierbei dreht sich alles um die Erzeugung und Verarbeitung visueller Informationen, sowohl in realen als auch computergenerierten Szenarien. Ziel der Vertiefung ist es den Studierenden eine fachlich fundierte, praktische, sowie theoretische Grundlage
        im Umgang mit audiovisuellen Medien zu geben.
      </p>









      <a class="a-mi-button small" href="/study/bachelor/moduls/ba_vertiefung-visual-computing/">
    mehr lesen
</a>

    </div>
  </div>

  <div class="card" data-equalizer-watch="">

    <img src="/study/bachelor/vertiefungsmodule/web-development/teaser.svg">


    <div class="card-section">
      <h3 class="h4">
        Web Development
      </h3>
      <p class="is-small">
        Im Rahmen dieses Moduls wird eine, praktisch orienierte, 360° Sicht auf den Bereich Web-Development vermittelt. Die Vertiefung besteht aus folgenden Bausteinen: Front- und Backend-Development, Security, Internet of Things, Developmenttools und -prozess.
      </p>









      <a class="a-mi-button small" href="/study/bachelor/moduls/ba_vertiefung-web_development/">
    mehr lesen
</a>

    </div>
  </div>

</div>
