
{{ $module := where $.Site.Pages "Params.zielmedium" "!=" "print" }}
{{ $moduleBachelor := $module }}
{{ $fs1 := where $moduleBachelor "Params.studiensemester" 1 }}

<p>
	Wie alle anderen Studiengänge im Bachelor-Master-System besteht auch der Medieninformatik Bachelor
	aus Modulen. Sie sind die zentrale Organisationseinheit des Studiengangs. Module bestehen aus
	verschiedenen Elementen wie Vorlesungen, Seminaren, Praktika und Workshops. Sie fassen die Elemente
	zu einem übergeordneten Thema zusammen und schließen mit einer Modulprüfung oder mehreren
	Teilprüfungen ab. 
</p>

<p>
  Hier finden Sie die Module des ersten Fachsemesters des Medieninformatik Bachelor Studiengangs. Via Hyperlink kommen Sie auf die jeweilige Modulbeschreibung, einschließlich der Eckdaten zum Modul. Dort finden Sie auch einen Link zur Ilias Seite des jeweiligen Moduls, wo Sie alle relevanten organisatorischen Informationen zur Moduldurchführung in diesem Semester finden sollten.
</p>

<div class="has-extra-foot-space">
  <h3>Module im ersten Fachsemester</h3>
  <ul class="m-mi-modullist-with-lecturer">
    <li class="m-mi-modullist-with-lecturer__entry" data-href="https://www.medieninformatik.th-koeln.de/mi-5.0/medieninformatik-bachelor/modulbeschreibungen-bpo5/BA_AlgorithmenundProgrammierung1/">
      <div class="m-mi-avatar">
        <img src="/img/professoren/victor.png" alt=" Prof. Dr. Frank Victor">
      </div>
      <header class="m-mi-modullist-with-lecturer__entry-head">
        <h3 class="m-mi-modullist-with-lecturer__entry-title">
          Algorithmen und Programmierung 1
        </h3>
        <h4 class="m-mi-modullist-with-lecturer__entry-subtitle">
          Prof. Dr. Frank Victor
        </h4>
      </header>
    </li>

    <li class="m-mi-modullist-with-lecturer__entry" data-href="https://www.medieninformatik.th-koeln.de/mi-5.0/medieninformatik-bachelor/modulbeschreibungen-bpo5/BA_EinfhrungindieMedieninformatik/">
      <div class="m-mi-avatar">
        <img src="/img/professoren/viet.jpg" alt=" Prof. Dr. Mirjam Blümm, Prof. Dr. Hoai Viet Nguyen, Prof. Dr. Matthias Böhmer, Prof. Hans Kornacher, Prof. Dr. Irma Lindt, Prof. Dr. Florian Niebling">
      </div>
      <header class="m-mi-modullist-with-lecturer__entry-head">
        <h3 class="m-mi-modullist-with-lecturer__entry-title">
          Einführung in die Medieninformatik
        </h3>
        <h4 class="m-mi-modullist-with-lecturer__entry-subtitle">
          Prof. Dr. Hoai Viet Nguyen & Kolleg:innen
        </h4>
      </header>
    </li>

    <li class="m-mi-modullist-with-lecturer__entry" data-href="https://www.medieninformatik.th-koeln.de/mi-5.0/medieninformatik-bachelor/modulbeschreibungen-bpo5/BA_Mathematik1/">
      <div class="m-mi-avatar">
        <img src="/img/professoren/konen.png" alt=" Prof. Dr. Wolfgang Konen">
      </div>
      <header class="m-mi-modullist-with-lecturer__entry-head">
        <h3 class="m-mi-modullist-with-lecturer__entry-title">
          Mathematik 1
        </h3>
        <h4 class="m-mi-modullist-with-lecturer__entry-subtitle">
          Prof. Dr. Wolfgang Konen
        </h4>
      </header>
    </li>

    <li class="m-mi-modullist-with-lecturer__entry" data-href="https://www.medieninformatik.th-koeln.de/mi-5.0/medieninformatik-bachelor/modulbeschreibungen-bpo5/BA_Screendesign/">
      <div class="m-mi-avatar">
        <img src="/img/professoren/noss.png" alt=" Prof. Dr. Stefan Karsch">
      </div>
      <header class="m-mi-modullist-with-lecturer__entry-head">
        <h3 class="m-mi-modullist-with-lecturer__entry-title">
          Screendesign
        </h3>
        <h4 class="m-mi-modullist-with-lecturer__entry-subtitle">
          Prof. Christian Noss
        </h4>
      </header>
    </li>
    <li class="m-mi-modullist-with-lecturer__entry" data-href="https://www.medieninformatik.th-koeln.de/mi-5.0/medieninformatik-bachelor/modulbeschreibungen-bpo5/BA_TheoretischeInformatik/">
      <div class="m-mi-avatar">
        <img src="/img/professoren/niebling.jpg" alt=" Prof. Dr. Florian Niebling">
      </div>
      <header class="m-mi-modullist-with-lecturer__entry-head">
        <h3 class="m-mi-modullist-with-lecturer__entry-title">
          Theoretische Informatik
        </h3>
        <h4 class="m-mi-modullist-with-lecturer__entry-subtitle">
          Prof. Dr. Florian Niebling
        </h4>
      </header>
    </li>
  </ul>
</div>
