.m-mi-hero-image {
    
    position: relative;
    aspect-ratio: 16/9;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-top: solid 5px $mi-blau;
    margin-bottom: $bfs-xl;

    &.do-contain{
        background-size: contain;
    }

    h1{
        display: block;
    }


    @media screen and (min-width: 40rem) {
        .title{
            h1, h2{
                display: inline-block;
            }
        }
    }

}


