.a-headline-invers{
  background-color:$mi-gruen;
  color: #fff;
  padding: $bfs-xs;
  display: inline-block;
  margin-bottom: 0;
}

.a-subtitle-invers{
  background-color: $mi-black;
  color: #fff;
  padding: $bfs-xs;
  display: inline-block;
}