{{ define "main" }}
{{ $params := . }}
{{ $scratch := newScratch }}
<div class="grid-x grid-margin-x grid-padding-y">
  <div class='{{ partial "system/grid/mi-base-cell.html" }}'>
    {{ $section := . }}
    {{ $teaser := .Resources.Match "teaser*" }}
    {{ $image := index ($teaser) 0 }}
    {{ $hero := $image.Resize "1600x Center q100 Linear" }}
    {{ $scratch.Set "heroClass" "" }}
    {{ if .Params.heroClass }}
    {{ $scratch.Set "heroClass" .Params.heroClass }}
    {{end}}
    {{ $heroClass := $scratch.Get "heroClass" }}
    {{ if $hero }}
    {{ partial "molecules/mi-hero-image/mi-hero-image.html" (dict "image" $hero "headline" .Title "class" $heroClass "subtitle" .Params.termin) }}
    {{ end }}
    
    {{ partial "molecules/mi-textblock/mi-textblock.html" (dict "ele" $params) }}

    {{ partial "molecules/mi-kontext-footer/mi-kontext-footer.html" (dict "ele" .) }}

  </div>
</div>
{{ end }}